<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MPMessagePack.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>00FB32C619661A860060AF33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00FB32D119661A870060AF33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>92ABD186D50A49738C3845A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
